*{
	color:white !important;
}

body {
	background-color: #111;
}

li {
	cursor: pointer;
}

.main {
	padding-left: 65px;
	padding-right: 10px;
}

.nav-item {
	color: #999999;
	text-decoration: none;
}

.nav-item:hover {
  	color: white;
}

.list-menu {
	background-color: #222;
}

.list-menu.horizontal {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.outlined-button{
	color: white !important;
	border-color: white !important;
}

.loading {
	width: 100%;
	text-align: center;
}