body {
  background-color: #111;
  color: white;
}

li {
  cursor: pointer;
}

hr {
  background-color: #00bc8c;
}

.main {
  padding-left: 65px;
}

.nav-item > a {
  color: #999999;
  text-decoration: none;
  padding:10px;
}

.nav-item > a:hover {
  color: white;
  padding:10px;
}

.nav-item > .active {
  color: white;
}

.sliding-middle-out{
	display:inline-block;
	position:relative;
}

.sliding-middle-out:after{
	content:"";
	display:block;
	margin:auto;
	height:3px;
	width:0px;
	background:transparent;
	transition:width .5s ease, background-color .5s ease;
}

.sliding-middle-out:hover:after{
	width:100%;
	background:#00bc8c;
}

.loading {
  width: 100%;
  text-align: center;
}
