.header {
  	margin-bottom: 80px;
}

.dark {
  	background-color: #222;
}

.navbar {
  	min-height: 50px;
}

.navbar-brand {
	left: 0px;
	bottom: -4px;
	position: absolute;
}
.appMenu {
	background-color: #222;
	width: 50px;
	height: 100%;
	top: 0px;
	padding-top: 75px;
	position: fixed;
}
