.add-series-container {
	position: relative;
	display: inline-block;
	text-align: center;
}

.add-series-icon {
	position: absolute;
	bottom: 50%;
	right: 50%;
	margin: 0px -25px -15px 0px;
	cursor: pointer;
}
