.main {
	padding: 75px 25px 15px 65px;
}

.nav-item {
	color: #999999;
	text-decoration: none;
}

.nav-item:hover {
  	color: white;
}

.list-menu {
	background-color: #222;
}

.list-menu.horizontal {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.outlined-button{
	color: white !important;
	border-color: white !important;
}

.loading {
	width: 100%;
	height: 100%;
	padding-top:50%;
	position: absolute;
	z-index: 1000;
}

.loading img {
	width: 100%;
	max-width: 300px;
}

.delete {
	position: absolute;
	font-size: 2em;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.go-back-up {
	bottom: 25px;
	right: 25px;
	position: fixed;
}

.add-series-container {
	position: relative;
	display: inline-block;
	text-align: center;
}

.add-series-icon {
	position: absolute;
	bottom: 50%;
	right: 50%;
	margin: 0px -25px -15px 0px;
	cursor: pointer;
}
